
* {
   padding: 10px;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #d3cccc;
    color: #333;
    min-width: 100%;
}


/* Navigation Styles */
nav {
    background-color: #2A5F7B;
    color: white;
    text-align:right;
    font-size:x-large;
    display: inline;
    padding: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  

}

#horiseon-text {
    display:inline-flex;
    font-size: 65px; /* Adjust the font size as needed */
    position: absolute;
    top: 0px; /* Align the text with the top of the navigation bar */
    left: 25px; /* Adjust the left position to align with the list items */

}

nav img {
    width: 100%;
    height:20%;
    
}

nav ul {
    list-style-type: none;
    background-color: #2A5F7B;
    width: 100%;
 
}

nav ul li {
    display: inline-block;
    margin: 20px 10px;
}

nav a {
    background-color: #2A5F7B;
    color:white;
    text-decoration: none;
}



/* Section Styles */
section {
    margin: 20px;
    padding: 20px;
    color: white;
    background-color: #2872BC;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 65%;
    height: 350px;
    
}

.section {
    display: flex;
    align-items:center;
   
   
}

.left-image {
    max-width: 40%; 
    margin-right: 20px;
}

.right-image {
    max-width: 40%; 
    margin-left: 20px; 
}



.section h2{
    width: 30%;
    text-decoration: bold; /* Sets the width of h1 to 30% of its container */
}

.section p {
    width: 600px; /* Sets the width of p to 400 pixels */
}


/* section for the online reputation management section */
#online-reputation-management h2, p {
    display:felx;
    justify-content:flex-end;
    align-items:right;
    color: white;
    width: 40%;
    
    
}

#online-reputation-management .content {
    flex: 1;


}

#online-reputation-management img  {
    width: 40%;
    max-width: 40%;
    margin-left:20px;
    
    
}





.content {
    flex: 1;
}

/* Section and Benefits Images */

.section img {
    width: 40%;
    max-width: 768px;
    height: auto;
    transform: rotateY(30deg);
}




/* Styles for a class */
.benefits {
    margin-right:50px;
    padding: 5px;
    color: white;
    background-color: #2589BD;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 25%;
    float: right;
    position: absolute;
    top: 237%; /* Adjust this value to center vertically */
    transform: translateY(-50%);
    right: 0;
    height: calc(130vh - 0px); /* Set the height to 100% of the viewport height minus the nav bar height */
    text-align: center;
    
}

.text {

    text-align: left;
    width: fit-content;
}

.benefits img {
    width: fit-content;
    max-width: 150px;
    height: 25%;
    transform: rotateY(20deg);
    align-items: center;
}

.article {
    text-align: center;
    margin-top: 20px;
}



/* Header styling */

#section h1, h2, {
    color: white;
    text-align: left;
    
}

.search-engine-optimization h2 p{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.benefits h3 {
    color: white;
    text-align: center;
}





/* Responsive Design */
@media screen and (max-width: 768px) {
    nav img {
        width: 80px;
    }

    section img {
        max-width: 150px;
    }
}




@media (max-width: 300px) {
    .benefits {
        flex-direction: column;
    }
}